body {
    background-color: #eee;
    background-image: url(bg-1.png);
    color: #666;

    margin-top: 60px;
    margin-left: 1em;
    margin-right: 14pt;
    margin-bottom: 15px;

    padding: 10px 50px;

    font-size: 14px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    
    text-transform: uppercase;
    text-align: center;
}

h1, h5{
    color: black;
}

.navbar-nav{
    margin-left: 30px;
}

.card {
    border-width: 0.1px;
    border-color: rgb(165, 165, 165);
    border-radius: 5px;
}
